body {
    background-color: black;
}

.top {
    padding: 50px;
    margin: auto;
    width: 50%;
}

div.center {
    
    text-align: center;
}

.main {
    margin: auto;
    padding: 30px;
    background-color: black;
}

.top {
    padding: 30px;
}

